html{
    scroll-behavior: smooth;
}
body {
    font-family: Georgia;
    line-height: 1.5;
    padding: 0;
    margin: 0;
    background-color: #fffefe;
}
/* Global */
.container, .container3 {
    width: 80%;
    margin: auto;
    overflow: hidden;
}
ul {
    margin: 0;
    padding: 0;
}
/* Header */
header {
    background-color: black;
    color: white;
    border-bottom:solid 4px #cda76f;
    margin-top: -20px;
}
header a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}
header a:hover {
    color: #ccc;
    font-weight: bold;
    text-decoration: underline #cda76f;
}
header li {
    display: inline;
    padding: 0 2px 0 20px;
}
header #branding {
    float: left;
} 
header #branding img {
    margin: 0;
}
header nav {
    float: right;
    margin-top: 50px;
}
.active{
    color: #cda76f;
    font-weight: bold;
}

/* showcase */
#showcase {
    min-height: 400px;
    width: 100%;
    background: url('showcase.jpg') no-repeat;
    text-align: center;
    background-size: cover;
    margin-top: -42px;
}
#showcase h1 {
    font-size: 50px;
    font-weight: lighter;
    margin-bottom: -10px;
    color: white;
    text-shadow: 1px 1px 5px rgb(0, 0, 0);
    padding: 3em;
}
#newsletter {
    background-color: #000000;
    margin-top: -16px;
    color: #ffffff;
    height: 100px;
}
.one {
  width: 480px;
  font-size: 13.5px;
  font-weight: lighter;
  font-style: italic;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#one {
    margin-left: 180px;
}
.container2 {
    display: flex;
    padding: 0 2px 0 40px;
}
/* boxes */
#boxes {
    margin-top: 20px;
}
#boxes .box {
    float: left;
    text-align: center;
    width: 20%;
    padding: 60px;
}

#boxes .box img {
    width: 260px;
    height: 250px;
    margin: 0;
    padding: 1em;
    border-radius: 1px;
}

#boxes .box a {
    text-decoration: none;
    text-align: center;
    color: #000000;
    font-size: 14px;
    border: 1px solid black;
    border-radius: 5px;
    font-style: italic;
    font-weight: bold;
    margin-left: 30px;
    padding: 0.5em;
}
#boxes .box a:hover{
    font-weight: bold;
    background-color: #000000;
    color: #ffffff;
}
footer {
    padding: 10px;
    margin-top: 10px;
    color: #ffffff;
    background-color: #000000;
    text-align: center;
    font-size: 10px;
}
h5 {
    padding-top: 10px;
    text-align: center;
    animation-name: colorChange;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    font-size: 16px;
}
/* services */
.wigs {
    background: url(hair.2.png) no-repeat;
    min-height: 550px;
    width: 100%;
    background-size: cover;
    color: #ffffff; 
}
.main-content a{
    text-decoration: none;
    color: rgb(255, 254, 254);
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif
}
.main-content button {
    padding: 1.5em;
    border-radius: 25px;
    border: none;
    background-color: #000000;
    box-shadow: 1px 1px 5px rgb(107, 106, 106);
}
.main-content h1 {
    font-size: 30px;
    font-weight: lighter;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.text {
    float: right;
    padding-top: 12em;
    margin-right: 7em;
}
.revamp {
    margin-top: 3px;
    background: url(revamp.png) no-repeat;
    min-height: 550px;
    width: 100%;
    background-size: cover;
    color: white;
}
.text2 {
    float: left;
    padding-top: 20em;
    margin-left: 8em;
}
.installation {
    margin-top: 3px;
    background: url(../install.png) no-repeat;
    min-height: 550px;
    width: 100%;
    background-size: cover;
    color: #ffffff;
}
.color {
    margin-top: 3px;
    background: url(../color.png) no-repeat;
    min-height: 550px;
    width: 100%;
    background-size: cover;
    color: white;
}
.make-up {
    margin-top: 3px;
    background: url(../makeup.png) no-repeat;
    min-height: 550px;
    width: 100%;
    background-size: cover;
    color: white;
}
/* About-Us */
#main-content h3, h4 {
    text-align: center;
    font-size: 30px;
    font-weight: lighter;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h3 {
    background-color: #000000;
    color: white;
    padding: 2em;
    margin-top: -1px;
}
#content {
    display: flex;
    justify-content: center;
    align-items: center;
}
#about {
    width: 50%;
    line-height: 2em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#about ul li {
    list-style: none;
}
/* Booking */
#page-text {
    background: url(../showcase.jpg) no-repeat;
    background-size: cover;
    min-height: 500px;
    width: 100%;
    color: white;
    margin-top: -60px;
}
.action {
    font-size: 30px;
    margin-top: 2em;
    line-height: 4em;
    font-weight: lighter;
    text-align: center;
}
div.field {
	line-height: 1.4em;
	margin: 0.8em 0 0;
	text-align: justify;
}
form {
    width: 100%;
}
form label {
	width: 320px;
	display: inline-block;
	vertical-align: top;
}
.form {
    display: flex;
    justify-content: center;
    align-items: center;
}
form input[type="text"],
form input[type="text"],
form input[type="number"],
form input[type="number"],
form input[type="datetime-local"] {
	width: 180px;
	border: 1px solid #999;
	padding: 3px;
}
form fieldset {
    margin: 2em;
    padding: 2em;
    border: 1.3px solid rgb(255, 252, 252);
    box-shadow: 1px 1px 3px gray;
}
div.submit{
    margin: 1.9em;   
}
div.info {
    margin: 2em;
}
/* Blog */
.article img {
    max-width: 750px;
    min-height: 100px;
}
.call-to-action {
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
    font-style: italic;
    padding: 2em;
    margin-top: -2px;
    font-size: 30px;
}
.blog {
    display: flex;
    justify-content: center;
    align-items: center;
}
.news p {
    line-height: 2.3em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/* Shop */
.shop img {
    max-width: 300px;
    min-height: 100px;
    padding: 2em;
}

.shop {
    display: flex;
}
.items p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}
.prices {
    font-size: 14px;
    font-weight: bold;
}
small strike {
    font-weight: bolder;
    font-size: 8px;
}

@keyframes colorChange {
    0%   {color: rgb(22, 165, 213);}
    25% {color: rgb(244, 244, 10);}
    50% {color: rgb(4, 4, 86);}
    75% {color: #ffe5e5;}
    100% {color: rgb(132, 14, 14);}
}
@media only screen and (min-width: 150px) and (max-width: 940px){
    header #branding,
    header nav,
    header nav li,
    #boxes .box {
        float: none;
        text-align: center;
        width: 100%;
    }
   header a {
    font-size: 10px;
   }
   header img {
    height: 130px;
   }
   #showcase h1 {
    font-size: 40px;
   }
   header nav{
    margin: -10px;
    padding-bottom: 20px;
   }
   #newsletter {
    overflow: auto;
    height: 180px;
   }
   .one {
    width: 480px;
    font-size: 11px;
    line-height: 2;
   }
   #boxes .box img{
    width: 250px;
    height: 200px;
    display: flex;
   }
   #boxes .box a{
    font-size: 10px;
   }
   .container3 {
    width: 100%;
    display: flex;
    overflow-y: auto;
    overflow-x: auto;
    justify-content: space-between;
   }
   header li {
    padding: 0 2px 0 15px;
   }
   iframe, #about, textarea, .news{
    width: 300px;
   }
   .blog {
    display: flex;
    justify-content: center;
    align-items: center;
   }
   .article img {
    max-width: 350px;
    min-height: 100px;
   }
   .call-to-action, h3 {
    font-size: 25px;
   }
   .shop {
    display: block;
   }
}
